{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Rebuild Earth :: Home</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#1F0053">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#1F0053">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#1F0053">


  <meta name="Rebuild Earth" content="Rebuild Earth">
  <meta name="copyright" content="All contents avaliable under GPL Licence">
  <meta name="keywords" content="free,opensource,volnteer, disaster Management , awarness ,security">
  <meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">
  <meta name="description" content="A complete Disaster Management , Alertness and awarness platform free for everyone.">
  <meta name="robots" content="follow, index">
  <meta property="og:title" content="Rebuild Earth">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://rebuildearth.org">
  <meta property="og:description" content="A complete Disaster Management , Alertness and awarness platform free for everyone.">
  <meta property="og:url" content="https://rebuildearth.org">
  <meta property="og:site_name" content="Rebuild Earth">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Rebuild Earth">
  <meta name="twitter:description" content="A complete Disaster Management , Alertness and awarness platform free for everyone.">
  <meta name="twitter:image" content="https://rebuildearth.org">
  <meta name="twitter:url" content="https://rebuildearth.org">
  <meta name="twitter:site" content="@rebuildearth">
  <meta name="twitter:image:alt" content="Rebuild Earth">
  <meta itemprop="name" content="Rebuild Earth">
  <meta itemprop="description" content="A complete Disaster Management , Alertness and awarness platform free for everyone..">
  <meta itemprop="image" content="https://rebuildearth.org">




  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />

  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

  <!--Core CSS -->
  <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
  <link rel="stylesheet" href="{% static 'css/core.css' %}">
  <!--Libraries-->
  <link rel="stylesheet" href="{% static 'fonts/cryptofont/css/cryptofont.min.css' %}">
  <link rel="stylesheet" href="{% static 'js/modalvideo/modal-video.min.css' %}">
  <link rel="stylesheet" href="{% static 'js/aos/aos.css' %}">

</head>

<body>
  <!-- Pageloader -->
  <div class="pageloader is-theme"></div>
  <div class="infraloader is-active"></div>
  <div class="dark-wrapper">
    <!-- Landing page Hero -->
    <section class="hero is-fullheight is-transparent">
      <div class="hero-head">

        <!-- Cloned navbar -->
        <!-- Cloned navbar that comes in on scroll -->
        <nav id="navbar-clone" class="navbar is-fixed is-dark">
          <div class="container">
            <!-- Brand -->
            <div class="navbar-brand">
              <a href="index.html" class="navbar-item">
                <img class="rotating" src="{% static 'img/logo/krypton-gradient.svg' %}" alt="">
                <span class="brand-name">RebuildEarth</span>
              </a>
              <!-- Responsive toggle -->
              <span class="navbar-burger burger" data-target="cloneNavbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <!-- Menu -->
            <div id="cloneNavbarMenu" class="navbar-menu">
              <div class="navbar-end">

                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                  <a class="is-centered-responsive" href="#">Learn More</a>
                </div>
                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                  <a class="is-centered-responsive" href="https://rebuildearth.discourse.group" target="_blank">
                    <img class="telegram" src="{% static 'img/logo/discourse.svg' %}" alt="">

                    Discourse
                  </a>
                </div>
                <!-- Sign up -->
                <div class="navbar-item is-nav-link">
                  <a href="#" class="button k-button k-primary raised has-gradient slanted">
                    <span class="text">Register</span>
                    <span class="front-gradient"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <!-- /Cloned navbar -->
        <!-- Static navbar -->
        <!-- Static navbar -->
        <nav class="navbar is-light">
          <div class="container">
            <!-- Brand -->
            <div class="navbar-brand">
              <a href="index.html" class="navbar-item">
                <img class="rotating" src="{% static 'img/logo/krypton.svg' %}" alt="">
                <span class="brand-name">RebuildEarth</span>
              </a>
              <!-- Responsive toggle -->
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <!-- Menu -->
            <div id="navbarMenu" class="navbar-menu light-menu">
              <div class="navbar-end">

                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                  <a class="is-centered-responsive" href="#">Learn More</a>
                </div>
                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                  <a class="is-centered-responsive" href="https://rebuildearth.discourse.group" target="_blank">
                    <img class="telegram" src="{% static 'img/logo/discourse.svg' %}" alt="">
                    Discourse
                  </a>
                </div>
                <!-- Sign up -->
                <div class="navbar-item">
                  <a href="#" class="button k-button k-primary raised has-gradient slanted">
                    <span class="text">Register</span>
                    <span class="front-gradient"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <!-- /Static navbar -->
      </div>
      <!-- Animated particles -->
      <div id="particles-js"></div>

      {% block content %}{% endblock %}


      <footer class="krypton-footer">
        <div class="container">
          <!-- Logo -->
          <div class="footer-logo">
            <a href="#">
              <img class="rotating" src="{% static 'img/logo/krypton-gradient.svg' %}" alt="">
              <div class="brand-name">RebuildEarth</div>
              <div class="brand-subtitle">Technology for a better tomorrow</div>
            </a>
          </div>

          <!-- Columns -->
          <div class="columns footer-columns is-vcentered">
            <div class="column is-4">
              <!-- Links group -->
              <ul class="footer-links">



                <li>
                  <a href="#">Home</a>
                </li>
              </ul>
            </div>
            <!-- Newsletter -->
            <div class="column is-4">
              <div class="subscribe-block">
                <form>
                  <!-- Field
                              <div class="control">
                                  <input class="krypton-subscribe-input" type="email" name="email" placeholder="">
                                  <button class="subscribe-button">
                                      <span>Subscribe</span>
                                  </button>
                              </div>-->
                </form>
              </div>
            </div>
            <!-- Links group -->
            <div class="column is-4">
              <ul class="footer-links">


                <li>
                  <a href="https://bit.ly/rebuildearth">Slack</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Copyright -->
          <p class="k-copyright">© 2019 | RebuildEarth</p>
          <br>
          <!-- Made by -->
          <p class="coded-by"> Thanks to <a href="https://cssninja.io" target="_blank">Css Ninja</a> For the Design</p>
        </div>

        <!-- Absolute image -->
        <img class="solar-system" src="{% static 'img/bg/solar.svg' %}" alt="">
      </footer> <!-- Core js -->
      <script src="{% static 'js/app.js' %}"></script>
      <!--script src="assets/js/particlesjs/particles.min.js"></script-->
      <script src="{% static 'js/aos/aos.js' %}"></script>


      <script src="{% static 'js/timer.js' %}"></script>
      <script src="{% static 'js/timeline.js' %}"></script>
      <script src="{% static 'js/roadmap.js' %}"></script>
      <script src="{% static 'js/main.js' %}" defer="defer"></script>
      <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</body>

</html>
